  .container {
    width: 100%;
    height: 100%;
    background: #f3f4f5;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
  }

  .photo-container {
    margin: 15vh auto;
    position: relative;
    top: -90px;
    left: -120px;
    transform: rotate(10deg);
  }
  
  .photo-cont-item {
    display: flex;
    width: calc(100px * 8);
  }
  .photo-cont-item .photo-item {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    margin-bottom: 80px;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.233);
  }

  .blur {
    width: 60%;
    height: 60%;
    padding: 20px;
    color: #000000;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(76, 76, 82, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.48);
  }

  .QRcode {
    text-align: center;
  }

  .QRcode img{
    margin: 10% 20% 10%;
    width: 60%;
    height: 60%;
    vertical-align: middle;
  }

  .animation-1 {
    animation: scroller 40s linear infinite;
    display: flex;
    width: calc(100px * 16);
  }
  
  .animation-2 {
    margin-left: 80px;
    animation: scroller 30s linear infinite;
    display: flex;
    width: calc(100px * 16);
  }
  
  .animation-3 {
    animation: scroller 25s linear infinite;
    display: flex;
    width: calc(100px * 16);
  }
  
  .animation-4 {
    animation: scroller 30s linear infinite;
    display: flex;
    width: calc(100px * 16);
  }

  .animation-5 {
    animation: scroller 45s linear infinite;
    display: flex;
    width: calc(100px * 16);
  }
  @keyframes scroller {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100px * 8));
    }
  }
  
  .photo-1 {
    background-image: url(https://yt3.googleusercontent.com/584JjRp5QMuKbyduM_2k5RlXFqHJtQ0qLIPZpwbUjMJmgzZngHcam5JMuZQxyzGMV5ljwJRl0Q=s900-c-k-c0x00ffffff-no-rj);
  }
  
  .photo-2 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/753px-Google_%22G%22_Logo.svg.png);
  }
  
  .photo-3 {
    background-image: url(https://cdn.cms-twdigitalassets.com/content/dam/help-twitter/twitter_logo_blue.png.twimg.768.png);
  }
  
  .photo-4 {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Facebook_f_logo_%282021%29.svg/1200px-Facebook_f_logo_%282021%29.svg.png);
  }
  
  .photo-5 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_13_kojf0w.jpg);
  }
  
  .photo-6 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_17_hngpby.jpg);
  }
  
  .photo-7 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_11_wcunjf.jpg);
  }
  
  .photo-8 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_9_stnpjs.jpg);
  }
  
  .photo-9 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_12_m3evi3.jpg);
  }
  
  .photo-10 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_10_euaoai.jpg);
  }
  
  .photo-11 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_7_apdkz1.jpg);
  }
  
  .photo-12 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_8_khwrpi.jpg);
  }
  
  .photo-13 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_5_vhwqqg.jpg);
  }
  
  .photo-14 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_2_nrbfpf.jpg);
  }
  
  .photo-15 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_4_qxw6i4.jpg);
  }
  
  .photo-16 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_3_ucohbw.jpg);
  }
  
  .photo-17 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_1_yitfy3.jpg);
  }
  
  .photo-18 {
    background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_6_xcylqe.jpg);
  }